{% extends "base.html" %}
{% block content %}
  <div class="col-md-12">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
    {% if form.old_password.errors %}
      {% for error in form.old_password.errors %}
      <div class="alert alert-danger">密码：{{ error }}</div>
      {% endfor %}
    {% endif %}
    {% if form.new_password1.errors %}
      {% for error in form.new_password1.errors %}
      <div class="alert alert-danger">密码：{{ error }}</div>
      {% endfor %}
    {% endif %}
    {% if form.new_password2.errors %}
      {% for error in form.new_password2.errors %}
      <div class="alert alert-danger">确认密码：{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="col-md-3">
   &nbsp;
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>修改密码</b>
      </div>
      <div class="panel-body">
        <form method="post" action="">{% csrf_token %}
          <div class="input-group">
              <span class="input-group-addon">旧密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_old_password" name="old_password" type="password" class="form-control" />
          </div>
          <br />
          <div class="input-group">
              <span class="input-group-addon">新密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input id="id_new_password1" name="new_password1" type="password" class="form-control" />
          </div>
          <br />
          <div class="input-group">
              <span class="input-group-addon">确认密码</span>
              <input id="id_new_password2" name="new_password2" type="password" class="form-control" />
          </div>
          <br />
          <input type="submit" class="btn btn-primary" value="确认" />
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
   &nbsp;
  </div>
{% endblock %}
